@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.main {
	& ~ .topbar {
		background-color: var(--bg-color-50);
		@include prefix(backdrop-filter, (blur(20px)));
	}
}

.topbar {
	@include d-flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	height: 84px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border: none;
	z-index: 6;
	overflow: visible;

	@include mq(min-width, 600px) {
		padding: 0 32px;
	}

	@include mq(min-width, 960px) {
		padding: 0 48px;
	}

	@include mq(min-width, 1280px) {
		padding: 0 96px;
	}

	.logo {
		font-family: $headers-font-family;
		font-weight: 500;
		font-size: fs('normal');
		z-index: 7;

		@include mq(min-width, 340px) {
			font-size: fs('x-normal');
		}

		@include mq(min-width, 360px) {
			font-size: fs('big');
		}
	}

	.nav {
		@include d-flex(row, 0);
		justify-content: flex-end;

		.nav--items {
			@include d-flex(row, 1.5rem);
			justify-content: flex-end;
			align-items: center;
			overflow: visible;
			animation: width 0.3s;

			.nav--list {
				@include d-flex(row, 1.5rem);
				justify-content: flex-end;
				align-items: center;
				z-index: 10;
			}

			&.nav__actions {
				display: flex;
			}

			&.nav__menu {
				display: none;

				.overlay {
					display: none;
					z-index: 8;
				}

				@include mq(max-width, 960px) {
					display: flex;

					.overlay {
						display: block;
						width: 100vw;
						height: var(--use-100vh);
						background-color: rgba(0, 0, 0, 0.25);
						opacity: 0;
						position: fixed;
						top: 0;
						left: 0;
						pointer-events: none;
						@include prefix(transition, (opacity 0.3s));
					}

					.btn {
						display: none;
					}

					.nav--list {
						position: fixed;
						top: 0;
						right: 0;
						transform: translateX(100%);
						height: var(--use-100vh);
						background: var(--bg-color);
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
						padding: 6rem 3rem 0;
						@include prefix(transition, (transform 0.3s));

						@include mq(min-width, 340px) {
							padding: 7rem 4rem 0;
						}

						@include mq(min-width, 360px) {
							padding: 8rem 5rem 0;
						}
					}
				}
			}

			.nav--item {
				cursor: pointer;
				z-index: 100;
				position: relative;

				.nav--item__locale {
					background: none;
					border: none;
					font-family: $main-font-family;
					font-weight: 300;
					font-size: fs('normal');
					color: var(--font-color);
					cursor: pointer;
				}
				.locale-overlay {
					position: fixed;
					height: var(--use-100vh);
					width: 100vw;
					left: 0;
					top: 0;
					display: none;

					&.open {
						display: block;
					}
				}
				.locale__items {
					@include d-flex(column, 0);
					justify-content: center;
					position: absolute;
					top: 100%;
					left: 50%;
					opacity: 0;
					transform: translateX(-50%);
					transition: opacity 0.3s, gap 0.3s, top 0.3s;
					z-index: 50;
					pointer-events: none;

					&.open {
						gap: 0.5rem;
						top: calc(100% + 1rem);
						opacity: 1;
						pointer-events: all;
					}

					.nav--item__locale {
						background-color: var(--light-color-80);
						padding: 4px 12px;
						border-radius: 8px;

						&:hover {
							background-color: var(--light-color);
						}
					}
				}
			}
		}

		&.nav-open {
			.nav--items {
				&.nav__actions {
					display: none;
				}

				&.nav__menu {
					display: flex;

					.btn {
						display: flex;
					}

					@include mq(max-width, 960px) {
						.overlay {
							opacity: 1;
							pointer-events: all;
						}

						.nav--list {
							transform: translateX(0);
							gap: 3rem;
							font-size: fs('x-normal');
							.btn {
								font-size: fs('x-normal');
							}
						}
					}
				}
			}
		}
	}
}

.theme-button {
	background: none;
	color: inherit;
	border: none;
	overflow: hidden;
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	padding: 0;
	margin: 0;
	cursor: pointer;

	.svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	&.light {
		.sun {
			transform: translateY(0);
			&.animation {
				animation: openTheme 0.5s;
			}
		}

		.moon {
			transform: translateY(120%);
			&.animation {
				animation: closeTheme 0.5s;
			}
		}
	}

	&.dark {
		.moon {
			transform: translateY(0);
			&.animation {
				animation: openTheme 0.5s;
			}
		}

		.sun {
			transform: translateY(120%);
			&.animation {
				animation: closeTheme 0.5s;
			}
		}
	}
}

@keyframes openTheme {
	0% {
		transform: translateY(-120%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes closeTheme {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(120%);
	}
}
