@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.project-detail {
	@include d-flex(column, 2rem);
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: calc(3.5rem + 92px);
	padding-bottom: 3rem;

	.detail__actions {
		@include d-flex(row, 0);
		justify-content: space-between;
		width: 100%;
		top: 90px;
		position: absolute;
		padding: 0 24px;

		@include mq(min-width, 600px) {
			// padding-bottom: 44px;
			max-width: unset;
			margin-left: 0;
			margin-right: 0;
			padding-left: 32px;
			padding-right: 32px;
		}

		@include mq(min-width, 960px) {
			max-width: 840px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
		}

		@include mq(min-width, 1280px) {
			max-width: unset;
			margin-left: 0;
			margin-right: 0;
			padding-left: 96px;
			padding-right: 96px;
		}

		@include mq(min-width, 1440px) {
			max-width: 1280px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
		}

		.action {
			@include d-flex(row, 4px);
			align-items: stretch;
			background-color: var(--light-color-40);
			border: none;
			z-index: 10;

			.svg {
				stroke-width: 1;
			}
		}

		.actions__other {
			@include d-flex(row, 1rem);
			position: relative;

			.action {
				span {
					display: none;
				}
			}

			@include mq(min-width, 400px) {
				.action {
					span {
						display: block;
					}
				}
			}

			// .actions__preview {
			// 	background-color: var(--light-color);
			// 	border-radius: 6px;
			// 	@include d-flex(column, 0);
			// 	opacity: 0;
			// 	top: calc(100% + 10px);
			// 	left: 0;
			// 	right: 0;
			// 	position: absolute;
			// 	z-index: 12;
			// 	@include prefix(transition, (opacity 0.3s));

			// 	.preview__img {
			// 		width: 100%;
			// 		height: 60px;
			// 		background-size: cover;
			// 		background-position: center;
			// 		border-radius: 6px 6px 0 0;
			// 	}

			// 	.preview__title {
			// 		padding: 4px 8px;
			// 	}
			// }
		}
	}

	.detail__section {
		@include d-flex(column, 1rem);
		justify-content: stretch;
		width: 100%;
		align-items: stretch;

		@include mq(min-width, 1280px) {
			flex-direction: row;
			gap: 1rem;
			justify-content: stretch;
			align-items: center;
		}

		.detail__img {
			width: 100%;
			flex: 1;
			padding: 0 0.75rem;
			z-index: 6;

			img {
				border-radius: 12px;
				width: 100%;
				// height: auto;
				aspect-ratio: 16 / 9;
				object-fit: cover;
			}
		}

		.detail__info {
			flex: 1.25;
			@include d-flex(column, 2rem);
			justify-content: center;
			align-items: stretch;
			padding: 0 0.75rem;

			@include mq(min-width, 600px) {
				padding: 0 1rem;
			}

			@include mq(min-width, 1280px) {
				padding: 0;
			}

			.info__title {
				@include d-flex(column, 0);

				.info__tags {
					@include d-flex(row, 1rem);
					justify-content: flex-start;

					.info__tag {
						@include d-flex(row, 0);
						justify-content: center;
						align-items: center;

						.svg {
							color: var(--tag-color);
						}
					}
				}
			}

			.info__actions {
				@include d-flex(row, 2.25rem);
				justify-content: center;
				align-items: center;

				@include mq(max-width, 340px) {
					gap: 1.5rem;
				}

				@include mq(max-width, 320px) {
					gap: 0.75rem;
				}
			}
		}

		.detail__card {
			@include d-flex(row, 1.5rem);
			justify-content: stretch;
			width: 100%;
			background-color: var(--light-color-40);
			border-bottom: 3px solid var(--purple-color);
			align-self: stretch;
			padding: 1.5rem 2rem;
			z-index: 4;

			@include mq(max-width, 400px) {
				flex-direction: column;
			}

			@include mq(min-width, 960px) {
				padding: 1.875rem 2.5rem;
			}

			@include mq(min-width, 1280px) {
				align-content: stretch;
				padding: 2.25rem 3rem;

				&:first-child {
					width: 360px;
				}

				&:last-child {
					flex: 1;
				}
			}

			.svg {
				align-self: center;
				flex-grow: 0;
				flex-shrink: 0;
			}

			.card__info {
				@include d-flex(column, 0.5rem);
				width: 100%;

				@include mq(max-width, 400px) {
					text-align: center;
				}

				.detail__tools {
					@include d-flex(row, 1rem);
					align-items: flex-start;
					justify-content: flex-start;
					flex-wrap: wrap;

					@include mq(max-width, 400px) {
						justify-content: center;
					}

					.detail__tool {
						background: var(--light-color);
						padding: 0.3rem 1rem;
						border-radius: 8px;
					}
				}
			}
		}
	}
}
