.svg {
	stroke-width: 1.5;
	display: block;

	&.svg-x-small {
		//16px
		height: 1rem;
		width: 1rem;
	}

	&.svg-small {
		//20px
		height: 1.25rem;
		width: 1.25rem;
	}

	&.svg-normal {
		//24px
		height: 1.5rem;
		width: 1.5rem;
	}

	&.svg-x-normal {
		//32px
		height: 2rem;
		width: 2rem;
		stroke-width: 1.25;
	}

	&.svg-big {
		//36px
		height: 2.25rem;
		width: 2.25rem;
		stroke-width: 1;
	}

	&.svg-x-big {
		//48px
		height: 3rem;
		width: 3rem;
		stroke-width: 1;
	}
}
