@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.contact {
	@include d-flex(row, 0);
	justify-content: center;
	align-items: center;
	padding-top: 84px;

	.contact-content {
		@include d-flex(column, 3rem);
		justify-content: space-between;
		align-items: center;
		padding-top: 2rem;
		flex: 1;

		@include mq(min-width, 960px) {
			flex-direction: row;
			max-width: 738px;
			padding-right: 28px;
			padding-top: 4.5rem;
			gap: 0;
		}

		.contact--section {
			@include d-flex(column, 0.75rem);
			max-width: 524px;
			width: 100%;

			.contact__form {
				@include d-flex(column, 1.25rem);
				align-items: center;

				.form__item {
					align-self: stretch;

					.form--area {
						@include mq(max-width, 960px) {
							height: 8rem;
						}
					}
				}
			}
		}

		.contact__social {
			@include d-flex(row, 2.25rem);

			@include mq(min-width, 960px) {
				flex-direction: column;
			}

			a {
				position: relative;

				&::after {
					content: attr(title);
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
					opacity: 0;
					padding: 8px 12px;
					font-size: fs('small');
					font-weight: 400;
					background: var(--threejs-purple);
					border-radius: 29px;
					line-height: 80%;
					z-index: 100;
					@include prefix(transition, (top 0.3s, opacity 0.3s));
				}

				&:nth-child(2n) {
					&::after {
						background: var(--threejs-yellow);
					}
				}

				&:hover {
					&::after {
						top: calc(100% + 10px);
						opacity: 1;
					}
				}

				@include mq(min-width, 960px) {
					&::after {
						left: 0px;
						top: 50%;
						transform: translateY(-50%);
						@include prefix(transition, (left 0.3s, opacity 0.3s));
					}

					&:hover {
						&::after {
							left: calc(100% + 10px);
						}
					}
				}
			}
		}
	}
}
