@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.about {
	@include d-flex(column, 24px);
	justify-content: flex-start;
	align-items: center;
	overflow-y: scroll;

	.about__items {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 24px;
		max-width: 1064px;
		margin: 0 auto;
		padding-bottom: 4rem;

		.about__card {
			@include d-flex(row, 1rem);
			align-items: center;
			background-color: var(--light-color-40);
			border-bottom: 3px solid var(--purple-color);
			padding: 1.5rem 2rem;

			* {
				flex-grow: 0;
				flex-shrink: 1;
			}

			@include mq(min-width, 960px) {
				padding: 1.875rem 2.5rem;
			}

			@include mq(min-width, 1280px) {
				padding: 2.25rem 3rem;
			}

			.card__info {
				@include d-flex(column, 0.75rem);
				width: 100%;
			}
		}

		@include mq(min-width, 760px) {
			grid-template-columns: 1fr 1fr;
			padding-bottom: 0;
		}
	}

	@include mq(min-width, 760px) {
		justify-content: center;
	}
}
