@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.footer {
	background-color: var(--purple-color);
	color: var(--bg-color);

	.footer__content {
		@include d-flex(row, 0);
		justify-content: space-between;
		padding: 12px 0;
		align-items: center;
		max-width: 1280px;
		margin: 0 auto;

		.footer__social {
			@include d-flex(row, 1rem);
			justify-content: flex-end;
			align-items: center;

			a {
				display: flex;
				margin: 0;
			}
		}
	}
}
