:root,
:root.light {
	--bg-color: #{color('light80')};
	--bg-color-10: #{color-opacity('light80', 0.1)};
	--light-color: #{color('light100')};
	--light-color-40: #{color-opacity('light100', 0.4)};
	--light-color-50: #{color-opacity('light100', 0.5)};
	--light-color-80: #{color-opacity('light100', 0.8)};
	--font-color: #{color('dark0')};
	--subtitle-color: #{color('purple40')};

	--purple-color: #{color('purple60')};
	--yellow-color: #{color('yellow20')};
	--light-purple-color: #{color('purple100')};
	--light-yellow-color: #{color('yellow100')};

	--error-color: hsl(0, 66%, 85%);
	--success-color: hsl(120, 63%, 86%);

	--text-selected-color: #{color-opacity('yellow100', 0.4)};
	--scroll-color: #{color-opacity('purple80', 0.7)};
}

:root.dark {
	--bg-color: hsl(270, 6%, 18%);
	--bg-color-10: hsla(270, 6%, 18%, 0.1);
	--light-color: #{color('dark0')};
	--light-color-40: #{color-opacity('dark0', 0.4)};
	--light-color-50: #{color-opacity('dark0', 0.5)};
	--light-color-80: #{color-opacity('dark0', 0.8)};
	--font-color: #{color('light100')};
	--subtitle-color: #{color('purple80')};

	--purple-color: #{color('purple60')};
	--yellow-color: #{color('yellow40')};
	--light-purple-color: #{color('purple40')};
	--light-yellow-color: #{color('yellow0')};

	--error-color: hsl(0, 66%, 60%);
	--success-color: hsl(120, 33%, 49%);

	--text-selected-color: #{color-opacity('yellow100', 0.4)};
	--scroll-color: #{color-opacity('purple80', 0.7)};
}
