h1,
.h1,
h2,
.h2 {
	font-family: $headers-font-family;
	font-size: fs('huge');
	font-weight: 500;
}

h3,
.h3 {
	font-family: $headers-font-family;
	font-size: fs('x-big');
	font-weight: 500;
}

h4,
.h4 {
	font-family: $headers-font-family;
	font-size: fs('big');
	font-weight: 500;
}

h5,
.h5 {
	font-family: $headers-font-family;
	font-size: fs('normal');
	font-weight: 500;
}

h6,
.h6 {
	font-family: $headers-font-family;
	font-size: fs('x-small');
	font-weight: 500;
}
