*,
*::after,
*::before {
	box-sizing: border-box;
}

::-moz-selection {
	/* Code for Firefox */
	background: var(--text-selected-color);
}

::selection {
	background: var(--text-selected-color);
}

html {
	font-size: fs('normal');
}

body {
	background-color: var(--bg-color);
	font-family: $main-font-family;
	font-weight: 300;
	color: var(--font-color);
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;

	// overflow: hidden;
	&::-webkit-scrollbar {
		width: 0px;

		@include prefix(transition, (opacity 0.3s));
	}

	&::-webkit-scrollbar-track {
		background: none;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: var(--scroll-color);
	}

	@include mq(max-width, 1080px) {
		&::-webkit-scrollbar {
			width: 8px;
		}
	}
}

main {
	width: 100%;
	&::-webkit-scrollbar {
		display: none;
	}
	z-index: 2;

	// padding-bottom: 59px;
	padding-left: 24px;
	padding-right: 24px;
	// height: calc(100vh - 84px - 44px);

	@include mq(min-width, 600px) {
		// padding-bottom: 44px;
		max-width: unset;
		margin-left: 0;
		margin-right: 0;
		padding-left: 32px;
		padding-right: 32px;
	}

	@include mq(min-width, 960px) {
		max-width: 840px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}

	@include mq(min-width, 1280px) {
		max-width: unset;
		margin-left: 0;
		margin-right: 0;
		padding-left: 96px;
		padding-right: 96px;
	}

	@include mq(min-width, 1440px) {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
}
