p {
	font-size: fs('normal');
}

small {
	font-size: fs('small');
}

big {
	font-size: fs('x-normal');
}

ul,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}
