@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.project-button {
	@include d-flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding: 2.35rem 3rem;
	background-color: var(--light-color-40);
	border-bottom: 3px solid var(--purple-color);
	transition: background-color 0.3s;

	& > .svg {
		max-width: 0px;
		transition: max-width 0.5s;
	}

	.project__info {
		flex: 1;

		text-align: right;
		.project__tags {
			@include d-flex(row, 1rem);
			justify-content: flex-end;

			.project__tag {
				@include d-flex(row, 0);
				justify-content: center;
				align-items: center;

				.svg {
					color: var(--tag-color);
				}
			}
		}
	}

	&:hover {
		background-color: var(--light-color-80);

		& > .svg {
			max-width: 2rem;
		}
	}
}
