@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.project-button {
	@include d-flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding: 1.333333rem 1.5rem;
	background-color: var(--light-color-40);
	border-bottom: 3px solid var(--purple-color);
	transition: background-color 0.3s;
	z-index: 10;

	@include mq(min-width, 960px) {
		padding: 1.666667rem 3rem;
	}

	& > .svg {
		max-width: 0px;
		transition: max-width 0.5s;

		@include mq(max-width, 960px) {
			display: none;
		}
	}

	.project__info {
		flex: 1;
		text-align: right;
		@include d-flex(column, 0.666667rem);

		.project__tags {
			@include d-flex(row, 1rem);
			justify-content: flex-end;
			flex-wrap: wrap;

			.project__tag {
				@include d-flex(row, 0);
				justify-content: center;
				align-items: center;

				.svg {
					color: var(--tag-color);
				}
			}
		}
	}

	&:hover {
		background-color: var(--light-color-80);

		& > .svg {
			max-width: 2rem;
		}
	}
}
